<div class="s-page">
  <div class="s-head">
    <h1>Investors</h1>
    <div class="s-head-actions">
      <button mat-flat-button class="s-primary-btn" (click)="searchEAO()">
        <mat-icon>search</mat-icon> Search
      </button>
    </div>
  </div>

  <div class="s-filters">
    <div class="s-filter-left">
      <div class="s-chip-wrap">
        <button class="s-filter-chip" [class.applied]="searchText.value" (click)="activeChip = activeChip === 'search' ? null : 'search'">
          <mat-icon>{{ searchText.value ? 'check' : 'add' }}</mat-icon>
          Search{{ searchText.value ? ': ' + searchText.value : '' }}
          <mat-icon class="chip-x" *ngIf="searchText.value" (click)="$event.stopPropagation(); searchText.setValue('')">close</mat-icon>
        </button>
        <div class="s-pop" *ngIf="activeChip === 'search'">
          <div class="s-pop-title">Search</div>
          <div class="s-pop-row">
            <span class="s-pop-label">text</span>
            <input class="s-pop-input" [formControl]="searchText" placeholder="Search by text..." (keydown.enter)="activeChip = null; searchEAO()" />
          </div>
          <button class="s-pop-apply" (click)="activeChip = null; searchEAO()">Apply</button>
        </div>
      </div>
      <div class="s-field s-field-sm">
        <label>Effective From</label>
        <input type="text" [min]="minDate" [max]="maxDate" [matDatepicker]="effectiveFromDatePicker" [formControl]="effectiveFromDate" (click)="effectiveFromDatePicker.open()" placeholder="Select date" />
        <mat-datepicker #effectiveFromDatePicker></mat-datepicker>
      </div>
      <div class="s-field s-field-sm">
        <label>Effective To</label>
        <input type="text" [min]="minDate" [max]="maxDate" [matDatepicker]="effectiveToDatePicker" [formControl]="effectiveToDate" (click)="effectiveToDatePicker.open()" placeholder="Select date" />
        <mat-datepicker #effectiveToDatePicker></mat-datepicker>
      </div>
      <div class="s-field s-field-sm">
        <label>Settlement From</label>
        <input type="text" [min]="minDate" [max]="maxDate" [matDatepicker]="settlementFromDatePicker" [formControl]="settlementFromDate" (click)="settlementFromDatePicker.open()" placeholder="Select date" />
        <mat-datepicker #settlementFromDatePicker></mat-datepicker>
      </div>
      <div class="s-field s-field-sm">
        <label>Settlement To</label>
        <input type="text" [min]="minDate" [max]="maxDate" [matDatepicker]="settlementToDatePicker" [formControl]="settlementToDate" (click)="settlementToDatePicker.open()" placeholder="Select date" />
        <mat-datepicker #settlementToDatePicker></mat-datepicker>
      </div>
    </div>
  </div>

  <div class="s-table iv-results">
    <div *ngIf="isLoading" class="loader">
      <div class="loading"></div>
    </div>
    <mat-accordion *ngIf="existsDataToFilter">
      <mat-expansion-panel *ngFor="let record of searchResults; index as i" class="record">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <table>
              <tr>
                <td>
                  <div [ngClass]="itemStatus(record.status)" class="m-r-20">
                    <fa-icon icon="stop"></fa-icon>
                    <span class="m-l-10 status">{{ record.status }}</span>
                  </div>
                </td>
                <td class="field-name">{{ 'labels.inputs.Owner External Id' | translate }}</td>
                <td>
                  <mifosx-external-identifier externalId="{{ record.owner.externalId }}"></mifosx-external-identifier>
                </td>
                <td class="field-name">{{ 'labels.inputs.Transfer External Id' | translate }}</td>
                <td>
                  <mifosx-external-identifier
                    externalId="{{ record.transferExternalId }}"
                  ></mifosx-external-identifier>
                </td>
                <td class="field-name">{{ 'labels.inputs.Effective From' | translate }}</td>
                <td>{{ record.effectiveFrom | dateFormat }}</td>
              </tr>
            </table>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="external-asset-transfer">
          <table>
            <tbody>
              <tr>
                <td class="m-l-5 flex-25">
                  <b>{{ 'labels.inputs.Status' | translate }} :</b>
                </td>
                <td class="flex-25 m-l-5 left">
                  <div [ngClass]="itemStatus(record.status)">
                    <fa-icon icon="stop"></fa-icon>
                    <span class="m-l-5 status">{{ record.status }}</span>
                  </div>
                </td>
                <td class="m-l-5 flex-25">
                  <b>{{ 'labels.inputs.Owner External Id' | translate }} :</b>
                </td>
                <td class="flex-25 m-l-5 left">
                  <mifosx-external-identifier
                    externalId="{{ record.owner.externalId }}"
                    completed="true"
                  ></mifosx-external-identifier>
                </td>
              </tr>
              <tr>
                <td class="m-l-5 flex-25">
                  <b>{{ 'labels.inputs.Settlement Date' | translate }} :</b>
                </td>
                <td class="m-l-5 flex-25">
                  {{ record.settlementDate | dateFormat }}
                </td>
                <td class="m-l-5 flex-25">
                  <b>{{ 'labels.inputs.Effective Date' | translate }} :</b>
                </td>
                <td class="m-l-5 flex-25">
                  {{ record.effectiveFrom | dateFormat }}
                </td>
              </tr>
              <tr *ngIf="record.details">
                <td class="m-l-5 flex-25">
                  <b>{{ 'labels.inputs.Details' | translate }} :</b>
                </td>
                <td class="flex-75 left">
                  <table>
                    <tbody>
                      <tr>
                        <td class="flex-50 m-l-5">
                          <b>{{ 'labels.inputs.Principal Outstanding' | translate }} :</b>
                        </td>
                        <td class="flex-50 r-amount">
                          {{ record.details.totalPrincipalOutstanding | formatNumber }}
                        </td>
                      </tr>
                      <tr>
                        <td class="flex-50 m-l-5">
                          <b>{{ 'labels.inputs.Interest Outstanding' | translate }} :</b>
                        </td>
                        <td class="flex-50 r-amount">
                          {{ record.details.totalInterestOutstanding | formatNumber }}
                        </td>
                      </tr>
                      <tr>
                        <td class="flex-50 m-l-5">
                          <b>{{ 'labels.inputs.Fees Outstanding' | translate }} :</b>
                        </td>
                        <td class="flex-50 r-amount">
                          {{ record.details.totalFeeChargesOutstanding | formatNumber }}
                        </td>
                      </tr>
                      <tr>
                        <td class="flex-50 m-l-5">
                          <b>{{ 'labels.inputs.Penalties Outstanding' | translate }} :</b>
                        </td>
                        <td class="flex-50 r-amount">
                          {{ record.details.totalPenaltyChargesOutstanding | formatNumber }}
                        </td>
                      </tr>
                      <tr>
                        <td class="flex-50 m-l-5">
                          <b>{{ 'labels.inputs.Outstanding' | translate }} :</b>
                        </td>
                        <td class="flex-50 r-amount">{{ record.details.totalOutstanding | formatNumber }}</td>
                      </tr>
                      <tr>
                        <td class="flex-50 m-l-5">
                          <b>{{ 'labels.inputs.Overpaid' | translate }} :</b>
                        </td>
                        <td class="flex-50 r-amount">{{ record.details.totalOverpaid | formatNumber }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <mat-divider [inset]="true"></mat-divider>

        <div class="record-actions layout-row align-flex-end" *ngIf="canBeCancelled(record)">
          <button
            mat-button
            color="warn"
            (click)="cancelPendingSale(record)"
            matTooltip="{{ 'labels.text.Cancel Pending Sale' | translate }}"
          >
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator
      [pageSize]="pageSize"
      [pageSizeOptions]="[50, 100, 200]"
      [length]="totalRows"
      (page)="pageChanged($event)"
      showFirstLastButtons
      *ngIf="existsDataToFilter"
    ></mat-paginator>
  </div>

  <div class="s-empty" *ngIf="!existsDataToFilter && !isLoading">
    <mat-icon>info</mat-icon>
    <p>No data found</p>
    <span>Try adjusting your search criteria</span>
  </div>
</div>
