<div *ngIf="!oidcServerEnabled">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()" id="login-form">
    <!-- Username Field -->
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="username" />
      <span matPrefix class="field-icon">
        <fa-icon icon="user"></fa-icon>
      </span>
      <mat-error *ngIf="loginForm.controls.username.hasError('required')">
        {{ 'labels.inputs.Username' | translate }} <strong>{{ 'labels.commons.is required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="{{ passwordInputType }}" formControlName="password" />
      <span matPrefix class="field-icon">
        <fa-icon icon="lock"></fa-icon>
      </span>
      <button
        type="button"
        matSuffix
        *ngIf="loginForm.controls.password.value && !loading"
        mat-icon-button
        (click)="togglePasswordVisibility()"
      >
        <fa-icon *ngIf="passwordInputType === 'password'" icon="eye"></fa-icon>
        <fa-icon *ngIf="passwordInputType === 'text'" icon="eye-slash"></fa-icon>
      </button>
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">
        {{ 'labels.inputs.Password' | translate }} <strong>{{ 'labels.commons.pass is required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <!-- Remember Me & Forgot Password -->
    <div class="form-options">
      <mat-checkbox formControlName="remember" *ngIf="enableRememberMe">Remember me</mat-checkbox>
      <span class="forgot-password-hint">
        <fa-icon icon="info-circle"></fa-icon>
        Forgot password? Contact admin
      </span>
    </div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <!-- Login Button -->
    <button
      mat-raised-button
      color="primary"
      class="login-button"
      [disabled]="!loginForm.valid || loading"
      type="submit"
    >
      Login
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
    </button>

  </form>
</div>

<div *ngIf="oidcServerEnabled" class="container container-margin">
  <div *ngIf="!isLoggedIn">
    <button mat-raised-button color="primary" class="login-button" (click)="loginOIDC()">
      {{ 'labels.buttons.Login' | translate }}
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
    </button>
  </div>
  <div *ngIf="isLoggedIn">
    <p>Welcome! You are logged in.</p>
    <button (click)="logout()">Logout</button>
    <button (click)="loadProtectedData()">Load Protected Data</button>
    <pre>{{ protectedData | json }}</pre>
  </div>
</div>
