<div class="s-page">
  <div class="s-head">
    <h1>Audit Trails</h1>
    <div class="s-head-actions">
      <button mat-flat-button class="s-outline-btn" (click)="downloadCSV()">
        <mat-icon>download</mat-icon> Download CSV
      </button>
    </div>
  </div>

  <div class="s-filter-row">
    <div class="s-field s-field-sm">
      <label>Resource ID</label>
      <input [formControl]="resourceId" placeholder="Resource ID" />
    </div>

    <div class="s-field s-field-sm">
      <label>Status</label>
      <select [formControl]="processingResult" (change)="applyFilter(processingResult.value, 'processingResult')">
        <option value="">All</option>
        <option *ngFor="let pr of auditTrailSearchTemplateData.processingResults" [value]="pr.id">
          {{ pr.processingResult }}
        </option>
      </select>
    </div>

    <div class="s-field s-field-sm">
      <label>User</label>
      <input [formControl]="user" [matAutocomplete]="userNameAutocomplete" placeholder="User" />
    </div>

    <div class="s-field s-field-sm">
      <label>Action</label>
      <input [formControl]="actionName" [matAutocomplete]="actionNameAutocomplete" placeholder="Action" />
    </div>

    <div class="s-field s-field-sm">
      <label>Entity</label>
      <input [formControl]="entityName" [matAutocomplete]="entityNameAutocomplete" placeholder="Entity" />
    </div>

    <div class="s-field s-field-sm">
      <label>Checker</label>
      <input [formControl]="checker" [matAutocomplete]="checkerAutocomplete" placeholder="Checker" />
    </div>
  </div>

  <div class="s-filter-row">
    <div class="s-field s-field-sm">
      <label>Maker From Date</label>
      <input [min]="minDate" [max]="maxDate" [matDatepicker]="fromDatePicker" [formControl]="fromDate" placeholder="YYYY-MM-DD" (click)="fromDatePicker.open()" />
      <mat-datepicker #fromDatePicker></mat-datepicker>
    </div>
    <div class="s-field s-field-sm" style="max-width:120px">
      <label>Time</label>
      <input type="time" step="1" [formControl]="fromTime" placeholder="HH:MM:SS" />
    </div>

    <div class="s-field s-field-sm">
      <label>Maker To Date</label>
      <input [min]="minDate" [max]="maxDate" [matDatepicker]="toDatePicker" [formControl]="toDate" placeholder="YYYY-MM-DD" (click)="toDatePicker.open()" />
      <mat-datepicker #toDatePicker></mat-datepicker>
    </div>
    <div class="s-field s-field-sm" style="max-width:120px">
      <label>Time</label>
      <input type="time" step="1" [formControl]="toTime" placeholder="HH:MM:SS" />
    </div>

    <div class="s-field s-field-sm">
      <label>Checker From Date</label>
      <input [min]="minDate" [max]="maxDate" [matDatepicker]="checkedFromDatePicker" [formControl]="checkedFromDate" placeholder="YYYY-MM-DD" (click)="checkedFromDatePicker.open()" />
      <mat-datepicker #checkedFromDatePicker></mat-datepicker>
    </div>
    <div class="s-field s-field-sm" style="max-width:120px">
      <label>Time</label>
      <input type="time" step="1" [formControl]="checkedFromTime" placeholder="HH:MM:SS" />
    </div>

    <div class="s-field s-field-sm">
      <label>Checked To Date</label>
      <input [min]="minDate" [max]="maxDate" [matDatepicker]="checkedToDatePicker" [formControl]="checkedToDate" placeholder="YYYY-MM-DD" (click)="checkedToDatePicker.open()" />
      <mat-datepicker #checkedToDatePicker></mat-datepicker>
    </div>
    <div class="s-field s-field-sm" style="max-width:120px">
      <label>Time</label>
      <input type="time" step="1" [formControl]="checkedToTime" placeholder="HH:MM:SS" />
    </div>
  </div>

  <!-- Autocomplete data -->
  <mat-autocomplete autoActiveFirstOption #userNameAutocomplete="matAutocomplete" [displayWith]="displayUserName">
    <mat-option *ngFor="let user of filteredUserData | async" [value]="{ id: user.id, name: user.username }">
      {{ user.username }}
    </mat-option>
  </mat-autocomplete>

  <mat-autocomplete autoActiveFirstOption #actionNameAutocomplete="matAutocomplete" [displayWith]="displayActionName">
    <mat-option *ngFor="let action of filteredActionData | async" [value]="action">
      {{ action }}
    </mat-option>
  </mat-autocomplete>

  <mat-autocomplete autoActiveFirstOption #entityNameAutocomplete="matAutocomplete" [displayWith]="displayEntityName">
    <mat-option *ngFor="let entity of filteredEntityData | async" [value]="entity">
      {{ entity }}
    </mat-option>
  </mat-autocomplete>

  <mat-autocomplete autoActiveFirstOption #checkerAutocomplete="matAutocomplete" [displayWith]="displayUserName">
    <mat-option *ngFor="let user of filteredCheckerData | async" [value]="{ id: user.id, name: user.username }">
      {{ user.username }}
    </mat-option>
  </mat-autocomplete>

  <!-- Skeleton loading -->
  <div class="sk-table" *ngIf="isLoading">
    <div class="sk-row" *ngFor="let i of [1,2,3,4,5]">
      <div class="sk-avatar"></div>
      <div class="sk-lines"><div class="sk-line sk-w60"></div><div class="sk-line sk-w30"></div></div>
      <div class="sk-pill"></div>
    </div>
  </div>

  <div class="s-table" *ngIf="!isLoading">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Trail ID' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail" class="s-num">{{ auditTrail.id }}</td>
      </ng-container>

      <ng-container matColumnDef="resourceId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Resource ID' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail" class="s-num">{{ auditTrail.resourceId }}</td>
      </ng-container>

      <ng-container matColumnDef="processingResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Status' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.processingResult }}</td>
      </ng-container>

      <ng-container matColumnDef="maker">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Made By' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.maker }}</td>
      </ng-container>

      <ng-container matColumnDef="actionName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Action' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.actionName }}</td>
      </ng-container>

      <ng-container matColumnDef="entityName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Entity' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.entityName }}</td>
      </ng-container>

      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Office' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.officeName }}</td>
      </ng-container>

      <ng-container matColumnDef="madeOnDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Made Date' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.madeOnDate | datetimeFormat }}</td>
      </ng-container>

      <ng-container matColumnDef="checker">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Checker' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.checker }}</td>
      </ng-container>

      <ng-container matColumnDef="checkedOnDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Checked Date' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.checkedOnDate | datetimeFormat }}</td>
      </ng-container>

      <ng-container matColumnDef="clientIp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Client Ip' | translate }}</th>
        <td mat-cell *matCellDef="let auditTrail">{{ auditTrail.ip }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="[row.id]" class="s-row"></tr>
    </table>

    <mat-paginator
      *ngIf="!isLoading"
      [length]="dataSource?.records$ | async"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
