<!-- Stripe-style footer bar -->
<div class="s-footer" ngClass="{{ styleClass }}">
  <!-- Left: version info (if enabled) -->
  <div class="s-footer-left" *ngIf="displayBackEndInfo">
    <span class="s-footer-text">{{ server }}</span>
    <span class="s-footer-sep">·</span>
    <span class="s-footer-text" *ngIf="isBusinessDateDefined">{{ businessDate | date: 'MMM dd, y' }}</span>
  </div>

  <span class="s-footer-spacer"></span>

  <!-- Right: icon row like Stripe's bottom bar -->
  <div class="s-footer-icons">
    <a mat-icon-button class="s-footer-btn" routerLink="/home" matTooltip="Dashboard">
      <mat-icon>grid_view</mat-icon>
    </a>
    <a mat-icon-button class="s-footer-btn" routerLink="/system/scheduler-jobs" matTooltip="Jobs">
      <mat-icon>warning_amber</mat-icon>
    </a>
    <a mat-icon-button class="s-footer-btn" routerLink="/accounting/journal-entries" matTooltip="Transactions">
      <mat-icon>swap_vert</mat-icon>
    </a>
    <a mat-icon-button class="s-footer-btn" routerLink="/clients" matTooltip="Clients">
      <mat-icon>people_outline</mat-icon>
    </a>
    <a mat-icon-button class="s-footer-btn" routerLink="/system" matTooltip="System">
      <mat-icon>radio_button_unchecked</mat-icon>
    </a>
  </div>
</div>
