<div class="s-search-bar" [class.focused]="isFocused">
  <fa-icon icon="search" class="s-search-icon"></fa-icon>
  <input #searchInput type="text" [formControl]="query" placeholder="Search"
         (focus)="isFocused = true" (blur)="onBlur()" (keydown.enter)="search()" class="s-search-input" />
</div>

<!-- Suggested filters dropdown (shows on focus, like Stripe) -->
<div class="s-suggestions" *ngIf="isFocused && !query.value">
  <div class="s-suggestions-title">Suggested filters</div>
  <div class="s-suggestion" *ngFor="let filter of suggestedFilters" (mousedown)="applyFilter(filter)">
    <span class="s-filter-badge">{{ filter.prefix }}</span>
    <span class="s-filter-example">{{ filter.example }}</span>
    <span class="s-filter-desc">{{ filter.description }}</span>
  </div>
  <div class="s-suggestion-link" (mousedown)="isFocused = false">View more filters</div>
</div>
